<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
		<connectionStrings>
    <add name="InventoryDB" connectionString="Data Source=LAPTOP\SQLEXPRESS;Initial Catalog=inventoryManagementSystemDB;User ID=sa;Password=@saBBirkhanoni@655;" />
    <add name="InventoryManagementSystem.Properties.Settings.inventoryManagementSystemDBConnectionString"
      connectionString="Data Source=LAPTOP\SQLEXPRESS;Initial Catalog=inventoryManagementSystemDB;User ID=sa;Password=@saBBirkhanoni@655;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>